.product-autocomplete {
    position: absolute;
    width: 100%;
    border: 1px solid silver;
    background: white;
    z-index: 1500;
}
.product-autocomplete-item {
    display: block;
}
.product-autocomplete-item__image {
    display: inline-block;
    width: 75px;
    height: 75px;
    background: white no-repeat center;
    background-size: contain;
    vertical-align: middle;
}
.product-autocomplete-item__name {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    width: calc(100% - 80px);
}
